#me {
    display: inline;
    width: 100px;
    height: auto;
    padding: 20px 0;
}

.about-section {
    background-color: var(--space-cadet);
    text-align: center;
    font-family: Barlow, serif;
}

p {
    color: var(--nyanza);
    margin: 0;
}

#about img {
    width: 250px;
}

.about-description {
    padding: 0 30px 30px;
    font-size: 0.8rem;
}

#about-header {
    padding-top: 90px;
    text-align: center;
    color: var(--nyanza);
    font-size: 0.6rem;
}

.emphasis {
    font-size: 1.15rem;
    color: var(--coral-pink);
    font-weight: 600;
}