.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px 40px 10px 40px;
    background-color: var(--rose-quarts);
    border: 1px solid black;
    width: 75vw;
    font-family: Barlow, serif;
    border-radius: 10px;
}

.form p,
.contact-container h1,
.contact-container p {
    justify-content: center;
    color: var(--space-cadet);
    text-align: center;
    padding: 4px;
    font-weight: 600;
}

#h1-p {
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 600;
}

#contact-h1 {
    font-size: 1.6rem;
}

#submit {
    display: block;
    margin: 20px auto;
    width: 170px;
    height: 35px;
    font-family: 'Barlow', serif;
    font-weight: 600;
}

.contact-container input:nth-of-type(5) {
    height: 50px;
}

#textarea {
    resize: none;
    width: 170px;
    padding: 8px;
}

html,
body {
    background-color: var(--space-cadet);
}

.error-text {
    font-size: 0.8rem;
}

@media screen and (min-width: 2560px) {
    .contact-container {
        width: 45%;
        font-size: 1.6rem;
    }

    #contact-h1 {
        font-size: 3rem;
    }

    #h1-p {
        font-size: 1.5rem;
    }

    #textarea,
    input,
    #submit {
        width: 500px;
    }

    input {
        height: 30px;
    }

    #submit {
        height: 50px;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .contact-container {
        width: 50%;
        font-size: 1.6rem;
    }

    #contact-h1 {
        font-size: 3rem;
    }

    #h1-p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .contact-container {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contact-container {
        width: 60%;
    }
}