body {
    background: var(--space-cadet);
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    margin: 0;
}

.game-container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 250px;
}

#canvas1 {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid white;
}

.score {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#playerImage,
#backgroundImage,
#enemyImage {
    display: none;
}

@media screen and (min-width: 2560px) {
    .score {
        font-size: 84px;
    }

    .game-container {
        max-width: 2250px;
    }

    .game-wrapper {
        margin: 100px auto;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .score {
        font-size: 50px;
    }

    .game-container {
        max-width: 1250px;
    }

    .game-wrapper {
        margin: 30px auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .score {
        font-size: 30px;
    }

    .game-container {
        max-width: 950px;
    }

    .game-wrapper {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .score {
        font-size: 24px;
    }

    .game-container {
        max-width: 650px;
    }

    .game-wrapper {
        margin: 0 auto;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .score {
        font-size: 12px;
    }

    .game-container {
        max-width: 450px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .score {
        font-size: 12px;
    }

    .game-container {
        max-width: 350px;
    }
}