body {
    background: var(--space-cadet);
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    max-width: 80%;
    max-height: 80%;
}

#playerImage,
#backgroundImage,
#enemyImage {
    display: none;
}

@media screen and (min-width: 2560px) {
    #canvas1 {
        max-width: 60%;
        max-height: 60%;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    #canvas1 {
        max-width: 60%;
        max-height: 60%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    #canvas1 {
        max-width: 60%;
        max-height: 60%;
    }
}
/* 
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #canvas1 {
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    #canvas1 {
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #canvas1 {
        max-width: 80%;
        max-height: 80%;
    }
} */