#github-logo {
    height: 50px;
    width: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cerulean);
    height: 80px;
    gap: 30px;
}

@media (min-width: 2560px) {
    footer {
        height: 125px;
    }

    #github-logo,
    #linkedin-logo,
    #twitter-logo {
        width: 85px;
        height: auto;
        margin: 0px 20px;
    }
}