#github-logo {
    height: 50px;
    width: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cerulean);
    height: 80px;
    gap: 30px;
}