#github-logo {
    height: 50px;
    width: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007991;
    margin-top: 50px;
    height: 80px;
    gap: 30px;
}