.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-image: url(../assets/mern-stack.png);
    background-size: 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cerulean);
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }