.home-content {
    padding: 60px 40px 60px 40px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--rose-quarts);
    color: var(--space-cadet);
    margin-top: 9%;
}