.project-container {
    position: relative;
    width: 100%;
    height: 325px;
    overflow: hidden;
    font-family: Barlow, serif;
    margin-top: 40px;
}

#project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 10px;
}

.project-container:hover .overlay {
    opacity: 1;
}

.overlay-content {
    text-align: center;
}

.overlay-content a {
    display: block;
    margin: 50px 0;
    color: white;
    text-decoration: none;
}

#project-description,
#project-instructions {
    padding: 0px 20px;
}

#project-instructions {
    font-size: 8px;
    color: var(--coral-pink);
}

.project-container p:nth-of-type(2) {
    margin-top: 20px;
}

#project-title,
#github-url {
    display: inline-block;
    padding: 2px 5px;
}

#projects-github-logo {
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 2560px) {
    #project-title {
        font-size: 2.5rem;
        margin: 60px 0 130px 0;
    }

    #project-description {
        font-size: 1.7rem;
        padding: 0 50px;
    }

    #projects-github-logo {
        width: 125px !important;
        height: auto !important;
        margin-top: 50px;
    }

    #project-instructions {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    #project-title {
        font-size: 2rem;
    }

    #project-description {
        font-size: 1.4rem;
    }

    #projects-github-logo {
        width: 90px !important;
        height: auto !important;
    }

    #project-instructions {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .project-container {
        width: 50%;
        height: 575px;
    }

    #project-title {
        font-size: 2rem;
        margin: 60px 0 130px 0;
    }

    #project-description {
        font-size: 1.5rem;
        padding: 0 40px;
    }

    #projects-github-logo {
        width: 90px !important;
        height: auto !important;
        margin-top: 50px;
    }

    #project-instructions {
        font-size: 0.7rem;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .project-container {
        width: 50%;
        height: 425px;
    }

    #project-title {
        font-size: 1.7rem;
    }

    #project-description {
        font-size: 1.3rem;
    }

    #projects-github-logo {
        width: 75px !important;
        height: auto !important;
    }

    #chart-container {
        margin: 0 auto;
        height: 225px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .project-container {
        width: 90%;
        height: 400px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .project-container {
        width: 90%;
        height: 350px;
    }
}