.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px 40px 10px 40px;
    background-color: var(--rose-quarts);
    border: 1px solid black;
    width: 75vw;
    font-family: Barlow, serif;
    border-radius: 10px;
}

#resume-h1 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: var(--space-cadet);
}

.resume-container p:nth-of-type(1) {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: var(--space-cadet);
    font-weight: 600;
}

#resume-download {
    text-decoration: none;
    color: var(--nyanza);
}

h2 {
    font-size: 0.8rem;
    margin: 10px 0;
}

ul li {
    font-size: 0.8rem;
}

ul li:last-of-type{
    padding-bottom: 15px;
}

@media screen and (min-width: 2560px) {
    .resume-container {
        width: 40%;
    }

    #resume-h1 {
        font-size: 3rem;
    }

    .resume-container p:first-of-type,
    .resume-container h2,
    .resume-container li {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    .resume-container {
        width: 50%;
    }

    #resume-h1 {
        font-size: 3rem;
    }

    .resume-container p:first-of-type,
    .resume-container h2,
    .resume-container li {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .resume-container {
        width: 50%;
    }

    #resume-h1 {
        font-size: 2.2rem;
    }

    .resume-container p:first-of-type,
    .resume-container h2,
    .resume-container li {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .resume-container {
        width: 50%;
    }

    #resume-h1 {
        font-size: 1.8rem;
    }

    .resume-container p:first-of-type,
    .resume-container h2,
    .resume-container li {
        font-size: 1.1rem;
    }
}